@model ExhibitionFormModel;

@{
    ViewData["Title"] = "Редактирай изложба";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_ExhibitionFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}