@model ExhibitionFormModel;

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningDate"></label>
                <input asp-for="OpeningDate" class="form-control" type="datetime-local" value="@Model.OpeningDate.ToString("yyyy-MM-ddTHH:mm")">
                <span asp-validation-for="OpeningDate" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" value="@Model.Description">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Запази" />

                @if (ViewBag.IsEditing == true)
                {
                    <input class="btn btn-primary mt-3" type="reset" value="Върни промените" />
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}