<title>500 Error: Oops, Something Went Wrong!</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/500.css" rel="stylesheet" type="text/css" />
</head>

<div class="error-container">
    <h1>500: Oops, Something Went Wrong!</h1>
    <p>It looks like we encountered an unexpected error. Our team of highly trained feline experts is working hard to fix it.</p>
    <img src="~/Images/Errors/500.jpg" alt="Kitten" class="kitten">
    <button onclick="window.location.reload()">Try Again</button>
</div>