<title>404 Error: Page Not Found</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error: Page Not Found</title>
    <link href="~/css/404.css" rel="stylesheet" type="text/css" />
</head>

<div class="container">
    <h1>404: Page Not Found</h1>
    <p>Oops! The page you're looking for has gone missing.</p>
    <img src="~/Images/Errors/404.jpg" alt="Kitten" class="kitten">
    <button onclick="window.location.href='/'">Back Home</button>
</div>