@{
    ViewData["Title"] = "Администраторски панел";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<a class="nav-link" asp-action="AssignRoles" asp-controller="Roles" class="btn btn-info">Управление на роли</a>