@model PaintingFormModel;

@{
    ViewData["Title"] = "Промяна";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_PaintingFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}